# Build artifacts
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
*.lib

# IDE-specific files
.vs/
.vscode/
.idea/
*.vcxproj
*.vcxproj.user
*.sln
cmake-build-*/
*.xcodeproj/
*.xcworkspace/
DerivedData/

# CMake build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build/


# Temporary files
*.bak
*.swp
*.log

# Dependencies
lib/
deps/
venv/

# Other
bin/
*.bin
*.app
*.dSYM/
executables/
datasets/
logs/
results/
*.csv